.loading_container{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    position: relative;
}

.bg_container{
    width: 100vw;
    height: 100vh;
    background-color: #86363B;
    transform-origin: center;
    transform: scaleX(0);
    animation: bg_div_animation 900ms ease-in-out forwards;
    position: absolute;
    top: 0;
    right: 0;

}

.logo{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    transform-origin: center;
    transform: translate(50%, 50%); 
    animation: logo_animation 2s  forwards ;

}
.logo img{
    width: 100%;
    height: 100%;

}
@keyframes bg_div_animation {
    0% {
        transform: scaleX(0.1); 
    }
  
    100% {
        transform: scaleX(1); 
    }
}

@keyframes logo_animation{
    0%{
        transform: scale(0.2);
        opacity: 0%;
    }
    40%{
        transform: scale(0.2);
        opacity: 0%;
    }
  
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}